div#gallery_container {
    max-width: 90%;
    margin: auto;
    justify-content: center;

}

img.gallery_image {
    margin: 50px;
}

div.react-photo-gallery--gallery div {
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    div.react-photo-gallery--gallery div img {
        width: 400px;
        max-width: 100%;
        height: auto;
    }
}

#modalButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.modalButton {
    font-size: 20px;
    text-align: center;
}

#modalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    max-width: 95%;
    margin: auto;
}

#modalContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 90%;
    margin: auto;
    align-content: center;
}