.PricingContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: bold;
    max-width: 130%;
}

#Group {
    margin: 10px 20px;
    width: 500px;
    text-align: center;
}

#Individual {
    margin: 10px 20px;
    width: 500px;
    text-align: center;
}